<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zam.mathforkids">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="31">
        <activity
            android:name=".play.game_mode.time.TimeActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".play.game_mode.duel.DuelActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".play.game_mode.quiz.QuizActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".play.game_mode.result.ResultActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".play.game_mode.practice.PracticeActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".play.game_mode.GameModeActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".settings.OptionsActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".play.PlayMenuActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>